{
    "include": [
      "**/*.ts",
      "**/*.js"
    ],
    "exclude": [
      "**/*.d.ts",
      "**/*.spec.ts",
      "**/*.spec.js",
      "**/.terraform",
      "dist/**"
    ],

    "all": true
}
